<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <title>Add a question</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  </head>

  <body>
    <div class="container">
      <h2>Add Question</h2>
      <div class="col-md-4">
        <form
          th:object="${question}"
          th:action="@{/savequestion}"
          action="#"
          method="post"
        >

        <input type="hidden" th:field="*{inquiry.inquiryId}" />

          <label for="question">Question</label>
          <input
            type="text"
            id="question"
            th:field="*{questiontext}"
            class="form-control"
          />
          <div style="clear: both; display: block; height: 10px"></div>

          <button type="submit" value="savequestion">Add</button>

          <!--<input
            type="submit"
            class="btn btn-primary"
            th:value="${book.id == null ? 'Add Book' : 'Update Book'}"
          /> -->
        </form>
      </div>
    </div>
  </body>
</html>
