<!DOCTYPE html>
<html
  xmlns:th="http://www.thymeleaf.org"
  xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6"
>
  <head>
    <title>List of Inquiries</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    />
  </head>

  <body>
    <div class="container mt-5" style="margin-left: 20px">
      <h1>List of Inquiries</h1>

      <table class="table table-striped">
        <thead>
          <tr>
            <th>Name</th>
            <th>Description</th>
            <th>Action</th>
          </tr>
        </thead>

        <tbody>
          <tr th:each="inquiry : ${inquiries}">
            <td th:text="${inquiry.name}"></td>
            <td th:text="${inquiry.description}"></td>
            <td>
              <a
                th:href="@{'/inquiry/' + ${inquiry.inquiryId}}"
                class="btn btn-primary"
                >Show Inquiry</a
              >
            </td>
          </tr>
        </tbody>
      </table>

      <a href="/addInquiry" class="btn btn-primary">Add a new inquiry</a>
    </div>
  </body>
</html>
