<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <title>Add inquiry</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    />
  </head>
  <body class="container mt-5" style="margin-left: 20px">
    <h2>Inquiry</h2>

    <table class="table">
      <thead>
        <tr>
          <th>Name</th>
          <th>Description</th>
        </tr>
      </thead>

      <tbody>
        <tr>
          <td th:text="${inquiry.name}"></td>
          <td th:text="${inquiry.description}"></td>
        </tr>
      </tbody>
    </table>

    <h5>Questions</h5>

    <ul class="list-group" th:each="question : ${inquiry.questions}">
      <li class="list-group-item" th:text="${question.questiontext}"></li>
    </ul>

    <a
      th:href="@{'/addquestion/' + ${inquiry.inquiryId}}"
      class="btn btn-primary"
      >Add new question</a
    >

    <br />

    <a href="/inquiryList" class="btn btn-secondary mt-3">Back</a>
  </body>
</html>
